In [2]:
import pandas as pd
df = pd.DataFrame({'a': [1,2,3], 'b': [4,5,6]}, index=['c', 'd', 'e'])
df

   a  b
c  1  4
d  2  5
e  3  6

In [9]:
df.loc['d',:] = df.loc['c', :]
df

   a  b
c  1  4
d  1  4
e  3  6

In [11]:
df.loc['d', :] = df.loc['c','a']
df

   a  b
c  1  4
d  1  1
e  3  6